<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Hotel Aeronautico</h6>
          <p class="text-justify">Somos pioneros en ofreccer servicios de habiaticiones tematicas, contamos con varias
            categorias para la comodidad de nuestro usuarios.
          </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="">Ejecutiva</a></li>
            <li><a href="">Familar</a></li>
            <li><a href="">Doble</a></li>
            <li><a href="">Sencilla</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>CONTACTANOS</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">Conocenos</a></li>
            <li><a href="http://scanfcode.com/contact/">Contacto</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">HOTEL AVIACION &copy; VIVE UNA EXPERIENCIA UNICA
          </p>
        </div>
      </div>
    </div>
</footer>